          * {
              background-color: #EBFFE5;
              margin: 0;
          }
          
          .link-muted { color: #aaa; } 
          .link-muted:hover { color: #1266f1; }

          
          .nav {
              background-color: #D9FFCF;
          }
          
          /* Adjust the size and alignment of the three dots icon */
          .dropdown .link-muted i.bx {
              font-size: 25px; /* Change the font size to your desired value */
              margin-right: 10px;
              margin-top: 8px;
          }
          
          /* Optional: Adjust alignment */
          .dropdown {
              /* Add your desired alignment styles */
              /* For example, to align it to the right side */
              text-align: right;
              border-radius: 25px;
          }
          
          .div-container{
              background-color: #D9FFCF;
          }
          
          .textarea{
            background-color: white;
          }
          .label{
            background-color: white;
          }

          .p-4, .p-3, label, h5, h6, a, i, ul, li, p{
            background-color: white;
          }

          .p-4, .p-3{
            border-radius: 25px;
          }
            
          .inside{
            background-color: white;
            border-radius: 25px;
          }

          .dropdown{
            background-color: white;
          }
    
          